<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Conference Scheduler{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
        {% endblock %}
    </head>

    <body>

        {% block header %}
            <div id="header">
                <div class="container">

                </div>

                <ul class="nav nav-tabs navbar">
                    <li >
                        <a class="nav-link list-group-item" href="{{ path('homepage') }}">Conference Scheduler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link list-group-item" href="{{ path('conference_index') }}">Conferences</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item pull-right">
                            <a class="nav-link list-group-item" href="{{ path('user_show')  }}">
                                {{ app.user.firstName }} Profile
                            </a>
                        </li>
                        <li class="nav-item pull-right">
                            <a class="nav-link list-group-item" href="{{ path('security_logout') }}">
                                Logout
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item pull-right">
                            <a class="nav-link list-group-item" href="{{ path('user_new') }}">Register</a>
                        </li>
                        <li class="nav-item pull-right">
                            <a class="nav-link list-group-item" href="{{ path('security_login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>

            </div>



        {% endblock %}

        {% block body %}


        {% endblock %}


        {% block footer %}
            <hr>
            <footer class="container-fluid text-center">
                <p>&copy; 2017 - SofUni students</p>
                <a href="https://github.com/stoyantodorovbg/ConferenceManagement">Go
                    to GitHub repository</a>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('js/moment.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
        {% endblock %}

    </body>

</html>
