{% extends 'base.html.twig' %}



{% block body_id 'homepage' %}

{% block body %}

    {% if app.getUser() %}
    <div>
        Hello {{ app.user.firstName }} {{ app.user.lastName }}
<br/>
        <a href="{{ path('security_logout') }}">Logout</a>
        <a href="{{ path('user_show') }}">My profile</a>
        <a href="{{ path('conference_new') }}">Create conference</a>
        <a href="{{ path('conference_index') }}">Display conferences</a>
    </div>
    {% else %}
    <div>
        Hello, Stranger
<br/>
        <a href="{{ path('user_new') }}">Register</a>
        <a href="{{ path('security_login') }}">Login</a>
    </div>
    {% endif %}
{% endblock %}

