{% extends 'base.html.twig' %}

{% block body %}
    {% if app.getUser() %}
    <div>
        Hello {{ app.user.username }}
<br/>
        <a href="{{ path('security_logout') }}">Logout</a>
        <a href="{{ path('user_show') }}">My profile</a>
        <a href="{{ path('conference_new') }}">Create conference</a>
    </div>
    {% else %}
    <div>
        Hello, Stranger
<br/>
        <a href="{{ path('user_new') }}">Register</a>
        <a href="{{ path('security_login') }}">Login</a>
    </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
