{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="center-block">
            <form class="form-horizontal" name="authenticate" action="{{ path('user_new') }}" method="post">
                <fieldset>
                    <legend>Program point edit</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(edit_form.name, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(edit_form.description, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Speakers</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(edit_form.speakers, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Start</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(edit_form.start, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">End</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(edit_form.end, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>

                    {{ form_row(edit_form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary ">Create</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <br>

    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
