{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
        <img src="{{ asset('uploads/images/' ~ user.image) }}" alt="" width="200" class="img-thumbnail"/>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Registered on</th>
                <td>{% if user.registeredOn %}{{ user.registeredOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Born on</th>
                <td>{% if user.bornOn %}{{ user.bornOn|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ user.company }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ user.position }}</td>
            </tr>
            <tr>
                <th>Waiting invitations</th>
                {% for invitation in user.invitations %}
                    {% if invitation.approved == 0 %}
                    <td>
                        <a href="{{ path('invitation_show', {'id': invitation.id}) }}">
                            {{ invitation.name }}
                        </a>
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th>Approved invitations</th>
                {% for invitation in user.invitations %}
                    {% if invitation.approved == 1 %}
                    <td>
                        <a href="{{ path('invitation_show', {'id': invitation.id}) }}">
                            {{ invitation.name }}
                        </a>
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Display all users</a>
        </li>
        <li>
            <a href="{{ path('user_edit') }}">Edit</a>
        </li>
    </ul>
{% endblock %}
