{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conference edit</h1>

    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.start) }}
    {{ form_row(edit_form.end) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.price) }}
    {{ form_row(edit_form.halls) }}
    <a href="{{ path('hall_new', { 'id': conference.id }) }}">Add a new hall</a>
    {{ form_row(edit_form.owner) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('conference_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
