{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conference creation</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.start) }}
    {{ form_row(form.end) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.halls) }}
    <a href="{{ path('hall_new') }}">Add a new hall</a>
    {{ form_row(form.owner) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('conference_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
