{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="center-block">
            <form class="form-horizontal" name="authenticate" action="{{ path('user_new') }}" method="post">
                <fieldset>
                    <legend>Hall edit</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Hall name</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(edit_form.name, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Seats count</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(edit_form.seatsCount, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Price per day</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(edit_form.pricePerDay, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Address</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(edit_form.address, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>
                    <button class="btn btn info" >
                        <a href="{{ path('address_new', { 'id': hall.id }) }}">Create a new address</a>
                    </button>

                    {{ form_row(edit_form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary ">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <button class="btn btn info" >
        <a href="{{ path('hall_index') }}">Shall all halls</a>
    </button>


            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
{% endblock %}
