{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hall creation</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.seatsCount) }}
    {{ form_row(form.pricePerDay) }}
    {{ form_row(form.address) }}
    <a href="{{ path('address_new', {'id': conferenceId}) }}">Create a new address</a>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('hall_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
